<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.0.0.4001" targetFramework="net472" />
  <package id="Castle.Windsor" version="3.0.0.4001" targetFramework="net472" />
  <package id="log4net" version="2.0.10" targetFramework="net472" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net472" />
  <package id="xunit" version="1.9.2" targetFramework="net472" />
  <package id="xunit.analyzers" version="0.10.0" targetFramework="net472" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net472" />
  <package id="xunit.runner.console" version="2.4.1" targetFramework="net472" developmentDependency="true" />
  <package id="xunit.runner.visualstudio" version="2.4.1" targetFramework="net472" developmentDependency="true" />
</packages>